.Searchbox-input-group {
  position: relative;
}

.Searchbox-input {
  border: none;
  border-radius: 4px;
  line-height: 48px;
  margin-bottom: 12px;
  outline: none;
  padding: 0 12px;
  text-align: center;
  width: 700px;
}