$font-family: 'Montserrat', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;

.text-header {
  font-size: 36px;
}

.text-subheader {
  font-size: 20px;
}

.text-body {
  font-size: 15px;
}